@{
    ViewData["Title"] = "About";
}

<body>
    <div class="container-fluid justify-content-sm-center pt-5 px-4">
        <div class="row">
            <div class="col-sm-auto col-md-auto col-lg-6">
                <img src="~/badmintonPlayer2.jpg" class="img-fluid" />
            </div>
            <div class="col-sm-auto col-md-auto col-lg-6">
                <h1 class="display-3 text-center" style="color: #78A0FD; font-family: Verdana, Geneva, Tahoma, sans-serif">About Us</h1>
                <p class="lead text-justify pt-4" style="font-family: Georgia, 'Times New Roman', Times, serif">Welcome to our web application dedicated to badminton players and matches! We are thrilled to present to you a platform designed specifically for badminton enthusiasts, providing a comprehensive player statistics experience.</p>
                <br />
                <p class="lead text-justify pt-4" style="font-family: Georgia, 'Times New Roman', Times, serif">Creating matches is where the excitement truly begins. You can easily set up and manage matches, inputting scores, dates, and other relevant information. As the matches unfold, our platform keeps track of the data, providing comprehensive match histories and insightful statistics for each player involved. Whether you want to analyze head-to-head records, performance trends, or overall win percentages, our platform has you covered.</p>
            </div>
        </div>
    </div>
</body>


