@{
    ViewData["Title"] = "Home";
}

<body>
    <div class="container-fluid justify-content-sm-center justify-content-md-center pt-5">
        <div class="row">
            <div class="col-sm-auto col-md-auto col-lg-5">
                <h1 class="display-3 text-center" style="color: #78A0FD; font-family: Verdana, Geneva, Tahoma, sans-serif">What is Badminton</h1>
                <p class="lead text-justify pt-4" style="font-family: Georgia, 'Times New Roman', Times, serif">Badminton is a popular racket sport played by two opposing players or pairs on a rectangular court divided by a net. The objective of the game is to hit a shuttlecock, a feathered projectile, over the net and land it in the opponent's court in such a way that they cannot return it successfully.</p>
            </div>
            <div class="col-sm-auto col-md-auto col-lg-7">
                <img src="~/badminton.jpeg" class="img-fluid" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p class="text justify lead" style="font-family:Georgia, 'Times New Roman', Times, serif">Badminton is known for its fast-paced and exciting nature, with rallies often characterized by quick movements, rapid reflexes, and impressive shots. It requires both physical and mental skills, demanding agility, endurance, hand-eye coordination, and tactical thinking.</p>
            </div>
            <div class="col-sm-6">
                <p class="text-justify lead" style="font-family:Georgia, 'Times New Roman', Times, serif">As a sport, badminton offers several benefits such as improved cardiovascular health, enhanced reflexes, increased flexibility, and improved muscle tone. It can be played recreationally or competitively at various levels, including local, national, and international tournaments, including the Olympic Games.</p>
            </div>
        </div>
    </div>
</body>

